{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Event'}, 'Event') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerPlannerBundle::appnav.html.twig", { 'app_planner': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ 'Calendar' | trans({}, 'Event') }}</h1>
    </section>
    <section class="content" multi-app="flowerCalendar">
        <div class="box">

            <div class="box-body">
                <ul class="list-inline">
                    <li>
                        <span class="label label-opportunity">{{ 'opportunities'|trans|title }}</span>
                    </li>
                    <li>
                        <span class="label label-project">{{ 'projects'|trans|title }}</span>
                    </li>
                    <li>
                        <span class="label label-account">{{ 'accounts'|trans|title }}</span>
                    </li>
                    <li>
                        <span class="label label-event-company">{{ 'company'|trans|title }}</span>
                    </li>
                    <li>
                        <span class="label label-default">{{ 'default'|trans|title }}</span>
                    </li>
                </ul>
                <div ng-view>
                    Loading...
                </div>
            </div>

            <div class="box-footer">

            </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/plugins/ui-bootstrap/calendar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/plugins/fullcalendar/fullcalendar.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/calendar/app-calendar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/calendar/controller/calendarCtrl.js') }}"
            type="text/javascript"></script>
{% endblock %}
