 {% extends ':Email:layout.html.twig' %}
 {% block subject %}
 	You are invited to {{event.title}}
{% endblock %} 
 {% block body %}
<table class=""  id="element4" style="">
	<tbody>
		<tr>
			<td  style="color: gray;">
				{{event.description}}
			</td>
		</tr>
		<tr>
			<td  style="">
				Addres :{{event.address}}
			</td>
		</tr>
		<tr>
			<td  style="">
				At {{event.startDate | date('g:ia \o\n l jS F Y')}}
				{% if event.endDate%}
					to {{event.endDate | date ('g:ia')}}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td  style="">
				To watch more about this event or set some reminders for you follow
				<a href='{{app.request.getSchemeAndHttpHost()}}/event/{{event.id}}/edit'>THIS LINK</a>
			</td>
		</tr>
	</tbody>
</table>												
{% endblock %}